html {
  background-color: gainsboro;
}

*body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 250px;
  position: relative;
}
#header-img{
  max-height: 80px;
}
.shadow {
  border: 1px solid white;
  width: 50%;
  box-shadow: 10px 10px white;
  border-radius: 10px;
  min-height: 60vh;
}

#trivia {
  background: rgb(255, 229, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2.7rem;
  color: black;
  text-align: center;
}

#parrafo {
  font-size: xx-large;
  color: white;
  text-align: center;
  font-weight: bolder;
}

#name {
  color: black;
  width: 250px;
  border-radius: 8px;
  padding: 10px 20px;
  border: aliceblue;
}

#button,
#reload {
  background-color: #d52091ad;
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-size: medium;
  outline: none;
}

.seleccion {
  background-color: rgba(0, 145, 255, 0.63) !important;
  transition:  0.2s ease-in-out;
}

.buttonOption {
  background-color: #ff8000;
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-size: medium;
  outline: none;
}

#progreso {
  font-size: 20px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: white;
  font-family: cursive;
}

.buttonContinue {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#time{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
}